<div id="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper" style="min-height: 100vh;">
      <div class="container-fluid">
        <app-breadcrumbs></app-breadcrumbs>
        <!--Sistema de rutas-->
          <router-outlet></router-outlet>
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!--<div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                    
                  </div>
              </div>
          </div>
      </div>-->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
        © 2024 Heilly Perdomo
      </footer>
            
      </div>
    </div>
  </div>
  <shared-modalimagen/>