    <app-header/>
    
    
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper" class="login-register login-sidebar " style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body mt-5">
                <form
                    [formGroup]="formLogin"
                    
                    (ngSubmit)="onSubmit()" 
                    class="form-horizontal form-material m-t-40" id="loginform" action="index.html">
                    
                    <select 
                            [formControl] = "formSelectUser"
                            (change)="onChangeSelectUser()"
                            class="custom-select" aria-label="Default select example m-t-40">
                        <option selected value="null">Select User Login</option>
                        <option value="user">Usuario</option>
                        <option value="admin">Administrador</option>
                      </select>

                    <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input 
                                formControlName="email"
                                class="form-control" type="email" required="" placeholder="email">
                        </div>
                        @if (getErrors('email')) {
                            <div class="col text-danger"> {{ showErrors('email') }}</div>
                        }
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input  
                                formControlName="password"
                                class="form-control" type="password" required="" placeholder="Password">
                        </div>
                        @if (getErrors('password')) {
                            <div class="col text-danger"> {{ showErrors('password') }}</div>
                        }
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input  
                                    formControlName="remember"
                                    id="remember" type="checkbox" class="filled-in chk-col-light-blue">
                                <label for="remember"> Recuerdame </label>
                            </div>
                            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> ¿Olvidaste la contraseña?</a> </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Login</button>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                            <div class="social justify-content-center">
                                <div #googleBtn></div>
                            </div>
                        </div>
                    </div>-->
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            ¿No tienes cuenta? <a routerLink="/register" href="pages-register2.html" class="text-primary m-l-5"><b>Registrate</b></a>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
