
<div class="d-flex justify-content-center mb-2">
    
        <button 
            routerLink="/dashboard/pipe/"
            routerLinkActive=""
            class="btn mx-2 btn-outline-primary">
            Basico
        </button>
    
        <button 
            routerLink="/dashboard/pipe/numbers"
            routerLinkActive=""
            class="btn mx-2 btn-outline-primary">
            Numéricos
        </button>
    
        <button 
            routerLink="/dashboard/pipe/uncommon"
            routerLinkActive=""
            class="btn mx-2 btn-outline-primary">
            Perzonalizados
        </button>
        
        <button 
            routerLink="/dashboard/pipe/oders"
            routerLinkActive=""
            class="btn mx-2 btn-outline-primary">
            Otros
        </button>
</div>


<router-outlet/>