<app-header></app-header>


<div class="container" style="
padding-top: 80px;
">
    <div class="row ">
      <div class="col-lg-4 col-xlg-3 col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center"> <img src="../assets/images/heilly.jpg" class="img-circle" width="150">
                    <h4 class="card-title m-t-10 font-bold">Heilly Perdomo</h4>
                    <h5 class="card-subtitle font-bold">Desarrolladora Frontend Angular</h5>
                </div>
            </div>
            <div> <hr> </div>
            <div class="card-body"> <small class="text-muted">Email</small>
                <p>{{ correo }} </p> <small class="text-muted pt-2 db">Teléfono</small>
                <p>+34 621 006 228</p> <small class="text-muted pt-2 db">Dirección</small>
                <p>Madrid, España</p><small class="text-muted pt-2 db">Enlaces</small>
                <br>
                <div>
                  
                </div>
                <a class="btn btn-circle btn-secondary" href="https://www.linkedin.com/in/heilly-perdomo-080877163/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                <a class="btn btn-circle btn-secondary" href="https://github.com/Heilly" target="_blank"><i class="fa fa-github-square"></i></a>
                <a class="btn btn-circle btn-secondary" href="https://adminprobackend-u1iq.onrender.com/" target="_blank"><i class="fa fa-window-restore "></i></a>
            </div>
        </div>
        <hr>
        <div>
          <h3 class="font-bold mt-2">Educación</h3>
          <h4 class="mt-3">Ingeniería en Ciencias Informáticas</h4>
          <p>Universidad de Ciencias Informáticas, Cuba <span> 2011 - 2016 </span></p>

          <h4 class="mt-3">Angular Avanzado</h4>
          <p>Udemy: Fernando-Herrera<span> 2024</span></p>

          <h4 class="mt-3">Angular Avanzado</h4>
          <p>Udemy: Fernando-Herrera<span> 2024</span></p>

          <h4 class="mt-3">Experto en Diseño Gráfico</h4>
          <p>Alium Formación SC, España<span> 2021</span></p>

          <h4 class="mt-3">Master en Marketing Online</h4>
          <p>Esneca Business School, España<span> 2020</span></p>
        </div>
      </div>
      <div class="col-lg-8 col-xlg-9 col-md-8">
        <div class="tab-content">
          <div class="tab-pane active" id="home" role="tabpanel" aria-expanded="true">
              <div class="card-body">
                <div class="mt-4 mb-5">
                  <h3 class="font-bold">Conocimientos</h3>
                  <div class="">
                    <div class="d-flexjustify-content-center align-content-center" style="flex-wrap: wrap;">
                      
                      <button type="button" class="btn waves-effect waves-light btn-secondary">Angular 14+</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">Enrutamiento</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">Microfrontends</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">Signals</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">Formularios Reactivos</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">APIs RESTful</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">RxJs</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">Data Binding</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">Enrutamiento</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">ViewChild</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">Pipe</button>
                      <button type="button" class="btn waves-effect waves-light btn-secondary">Testing</button>
                      
                    </div>
                  </div>


                </div>
                  <div class="profiletimeline">
                      <div class="sl-item">
                          <div class="sl-left"></div>
                          <div class="sl-right">
                              <div>                              
                                <h4>Sobre mi</h4>

                                  <p class="font-italic">
                                    Soy una profesional apasionada con una sólida experiencia en diseño y desarrollo web. Mi enfoque en la adaptabilidad me ha permitido abordar desafíos con determinación y creatividad. Comprometida con el aprendizaje continuo. Estoy emocionada por continuar creciendo profesionalmente y contribuir al éxito de proyectos innovadores en el campo del desarrollo web.
                                  </p>
                                  
                              </div>
                          </div>
                      </div>
                      <hr>
                      <div class="sl-item">
                          <div class="sl-left"> <img src="../assets/images/nsc.jpeg" alt="user" class="img-circle"> </div>
                          <div class="sl-right">
                              <div>
                                <h4>Desarrolladora Frontend Angular</h4>
                                <h5 class="font-bold">Network Solutions Control</h5><span class="sl-date">03/2022 - 08/2023</span>
                                  <p class="m-t-10">Durante mi tiempo en NSControl, trabajé combinando roles de Diseñadora UX y Desarrolladora Frontend Angular. 
                                    <br>En el ámbito del desarrollo, me enfoqué en la implementación de soluciones que integraban datos dinámicos de APIs, utilizando microfrontends y servicios para facilitar una arquitectura modular y reutilizable. Estos componentes modulares permitieron una comunicación efectiva entre ellos para la emisión y recepción de datos, asegurando una experiencia fluida para los usuarios. 
                                    <br>En el ámbito del diseño, utilicé herramientas como Adobe XD para prototipar interfaces de usuario intuitivas y centradas en el usuario. Estos prototipos no solo ayudaron a visualizar las ideas y conceptos, sino que también facilitaron la comunicación con el equipo.</p>
                              </div>
                              <div class="like-comm m-t-20">
                                <p> <span class="font-bold">Aptitudes: </span>Angular, RxJs, Signals, Microfrontends, Integracion API, Diseño UX, Solución, Adaptabilidad </p>
                                <p> <span class="font-bold">Proyecto: </span><a href="orlian.es" target="_blank">Orlian</a> </p>
                              </div>
                          </div>
                      </div>
                      <hr>
                      <div class="sl-item">
                        <div class="sl-left"> <img src="../assets/images/PRC.jpeg" alt="user" class="img-circle"> </div>
                        <div class="sl-right">
                            <div>
                              <h4>Diseñadora Web</h4>
                              <h5 class="font-bold">Precision Reformas y Construcciones SL</h5><span class="sl-date">nov 2021 - mar 2022 </span>
                                <p class="m-t-10">
                                  Me desempeñé como diseñadora web, enfocándome en el desarrollo de sitios en WordPress. Destaqué por la creación de interfaces de usuario (UX) efectivas. Mis responsabilidades abarcaron la creación de contenido optimizado para SEO y la implementación exitosa de campañas publicitarias en Google Ads, resultando en una mayor visibilidad en línea y la captación de clientes potenciales. Esta experiencia me permitió desarrollar habilidades sólidas en diseño web y estrategias de marketing digital para impulsar el crecimiento del negocio.
                                </p>
                            </div>
                            <div class="like-comm m-t-20">
                              <p> <span class="font-bold">Aptitudes: </span>UX Design · Comercio electrónico · Resolución de problemas · Diseño web</p>
                            </div>
                        </div>
                      </div>
                      <hr>
                      <div class="sl-item">
                        <div class="sl-left"> <img src="../assets/images/ivermasplus.jpg" alt="user" class="img-circle"> </div>
                        <div class="sl-right">
                            <div>
                              <h4>Diseñadora Web y Gráfica</h4>
                              <h5 class="font-bold">Ivermasplus SL</h5><span class="sl-date">may 2020 - oct 2021 </span>
                                <p class="m-t-10">
                                  Trabajé como diseñadora web y gráfica, centrando mis esfuerzos en la creación de sitios empresariales y ecommerce para potenciar las ventas. Destaco por mi capacidad para desarrollar identidades corporativas únicas y mi experiencia en la producción de material impreso variado. Además, dirigí el estudio de mercado y la estrategia de marca, utilizando las redes sociales para aumentar la visibilidad y generando contenido atractivo que atrajo a nuevos clientes. Esta experiencia fortaleció mis habilidades en diseño web y gráfico, así como en estrategias de marketing digital para impulsar el crecimiento de la empresa.                                
                                </p>
                            </div>
                            <div class="like-comm m-t-20">
                              <p> <span class="font-bold">Aptitudes: </span>Diseño gráfico · Diseño web · Identidad corporativa · Marketing digital</p>
                            </div>
                        </div>
                      </div>
                      <hr>
                  </div>
              </div>
          </div>
      </div>
      </div>

    </div>
</div>

